html{
    background-color: white;
}
body{
    margin: 0;
    background-color: #ede6e6;
    margin-left: 75px;
    margin-right: 75px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none; /* normally link er nise dag take. decoration none dile dag chole jabe.*/
    color: #373535;
}
header{
    height: 150px;
    padding-top: 20px; 
}
ul{
    padding: 0;
}
li{
    display: inline; /* list item eki line a print hobe*/
    padding: 10px;
    font-size: 16px;
}
header li:first-child{ /* first child mane list er first item */
    border-right: 1px solid #373535;  /* list er 2item er maje vertical line er jonno*/
}
#left{
    margin-top: 90px;
    float: left;
}
#right{
    float: right;
    margin-top: 90px;
}
#logo{
    text-align: center;
    color: brown;
    font-size: 36px;
}
#logo p{
    margin: 0;
}

 #main{
     background-image: url('dishes.jpg');
     height: 438px;
 }
 #main p{
     margin: 0;
     padding: 20px;
     color: brown;
     text-align: center;
     font-size: 30px;
     font-family: Arial, Helvetica, sans-serif;
 }
 form{
     text-align: center;
     padding: 10px;
 }

#email{
     width: 220px;
     height: 25px;
     padding: 0;
     margin-right: 10px;
 }
 #click{
     height: 25px;
 }
 #box{
    position: relative;
    float: left;
    margin: 9px;
 }
 #box p{
    position: absolute;
    top: 12px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: brown;
    z-index: 2;
 }
 #box img{
    position: relative;
    z-index: 1;

 }
 
nav{
    text-align: center;
    font-size: 18px;
     padding: 25px;
 }

 

 footer img{
     display: block;
     margin: 0 auto;

 }
